<div id="continut" style="background-image:url('{0}'); width: 850px; height: 1100px;">            
            <input id="Nume" type="text" style="left: 193px; width: 540px; bottom: 721px;">
            <input id="Tata" type="text" style="bottom: 693px; left: 147px; width: 290px;">
            <input id="Mama" type="text" style="bottom: 692px; left: 484px; width: 246px;">
            <input id="DataNasterii" type="text" style="bottom: 662px; left: 223px; width: 88px; right: 527px;">
            <input id="Domiciliul" type="text" style="bottom: 662px; left: 491px; width: 240px;">
            <input id="Strada" type="text" style="bottom: 633px; left: 155px; width: 180px; ">
            <input id="Nr" type="text" style="bottom: 632px; left: 371px; width: 16px;">
            <input id="Bl" type="text" style="bottom: 633px; left: 423px; width: 16px;">
            <input id="Sc" type="text" style="bottom: 632px; left: 476px; width: 16px;">
            <input id="Judet" type="text" style="bottom: 633px; left: 596px; width: 140px;">
            <input id="Marca" type="text" style="bottom: 604px; left: 409px; width: 280px;">
            <input id="SerieSasiu" type="text" style="bottom: 576px; left: 182px; width: 300px;">
            <input id="Culoare" type="text" style="bottom: 578px; left: 560px; width: 172px;">
            <input id="AnFabricatie" type="text" style="bottom: 547px; left: 193px; width: 59px;">
            <input id="Operatie" type="text" style="bottom: 459px; left: 387px; width: 350px;">
            <input id="DeLa" type="text" style="bottom: 431px; left: 138px; width: 290px;">
            <input id="Data" type="text" style="bottom: 199px; left: 101px; width: 200px;" class="datepicker">
            <input id="Ap" type="text" style="bottom: 633px; left: 532px; width: 16px;">
        </div>