<div style="background-image:url('{0}'); width: 850px; height: 1201px;" id="continut">
    <input id="SemnaturaSiData" type="text" style="bottom: 1058px; left: 590px; width: 176px;" class="datepicker">
    <input id="Subsemnatul" type="text" style="bottom: 820px; left: 164px; width: 197px;">
    <input id="Sediul" type="text" style="bottom: 819px; left: 593px; width: 128px;">
    <input id="Strada" type="text" style="bottom: 795px; left: 87px; width: 228px; right: 522px;">
    <input id="Nr" type="text" style="bottom: 795px; left: 348px; width: 64px; right: 426px;">
    <input id="Bloc" type="text" style="bottom: 795px; left: 465px; width: 55px; right: 318px;">
    <input id="Scara" type="text" style="bottom: 795px; left: 571px; width: 53px; right: 214px;">   
    <input id="Apartament" type="text" style="bottom: 798px; left: 665px; width: 60px;">
    <input id="Judetul" type="text" style="bottom: 771px; left: 152px; width: 165px;">
    <input id="Marca" type="text" style="bottom: 747px; left: 145px; width: 313px;">
    <input id="SerieSasiu" type="text" style="bottom: 722px; left: 180px; width: 281px;">    
    <input id="Culoare" type="text" style="bottom: 698px; left: 160px; width: 301px;">    
    <input id="AnDeFabricatie" type="text" style="bottom: 674px; left: 204px; width: 259px;">
    <input id="DobanditLaDataDe" type="text" style="bottom: 650px; left: 178px; width: 113px; right: 547px;">    
    <input id="DobanditPrin" type="text" style="bottom: 649px; left: 342px; width: 102px;">    
    <input id="DobanditDeLa" type="text" style="bottom: 649px; left: 497px; width: 281px;">
    <input id="ChitantaSeria" type="text" style="bottom: 408px; left: 157px; width: 120px;">
    <input id="ChitantaDinData" type="text" style="bottom: 408px; left: 343px; width: 191px;">    
        <input id="Data" type="text" style="bottom: 89px; left: 97px; width: 152px;" class="datepicker">
    </div>