<div id="continut" style="background-image:url('{0}'); width: 850px; height: 1100px;">            
            <input id="Nume" type="text" style="left: 193px; width: 540px; bottom: 721px;" tabindex="0">
            <input id="Tata" type="text" style="bottom: 693px; left: 147px; width: 290px;" tabindex="1">
            <input id="Mama" type="text" style="bottom: 692px; left: 484px; width: 246px;" tabindex="2">
            <input id="DataNasterii" type="text" style="bottom: 662px; left: 223px; width: 88px; right: 527px;" tabindex="3">
            <input id="Domiciliul" type="text" style="bottom: 662px; left: 491px; width: 240px;" tabindex="4">
            <input id="Strada" type="text" style="bottom: 633px; left: 155px; width: 180px; " tabindex="5">
            <input id="Nr" type="text" style="bottom: 632px; left: 371px; width: 16px;" tabindex="6">
            <input id="Bl" type="text" style="bottom: 633px; left: 423px; width: 16px;" tabindex="7">
            <input id="Sc" type="text" style="bottom: 632px; left: 476px; width: 16px;" tabindex="8">
            <input id="Ap" type="text" style="bottom: 632px; left: 531px; width: 19px;" tabindex="9">
            <input id="Judet" type="text" style="bottom: 633px; left: 596px; width: 140px;" tabindex="10">
            <input id="Marca" type="text" style="bottom: 604px; left: 409px; width: 280px;" tabindex="11">
            <input id="SerieSasiu" type="text" style="bottom: 576px; left: 182px; width: 300px;" tabindex="12">
            <input id="Culoare" type="text" style="bottom: 578px; left: 560px; width: 172px;" tabindex="13">
            <input id="AnFabricatie" type="text" style="bottom: 547px; left: 193px; width: 59px;" tabindex="14">
            <input id="Operatie" type="text" style="bottom: 459px; left: 387px; width: 350px;" tabindex="15">
            <input id="DeLa" type="text" style="bottom: 431px; left: 138px; width: 290px;" tabindex="16">
            <input id="Data" type="text" style="bottom: 199px; left: 101px; width: 200px;" class="datepicker" tabindex="17">            
        </div>