<div style="background-image:url('{0}'); width: 850px; height: 1201px;" id="continut">
        <input id="Subsemnatul" type="text" style="bottom: 781px; left: 189px; width: 276px;">
        <input id="DomiciliatInLocalitate" type="text" style="bottom: 781px; left: 673px; width: 118px;">
        <input id="Judetul" type="text" style="bottom: 745px; left: 73px; width: 96px;">
        <input id="Strada" type="text" style="bottom: 745px; left: 226px; width: 122px;">
        <input id="Nr" type="text" style="bottom: 745px; left: 386px; width: 27px;">
        <input id="Bl" type="text" style="bottom: 745px; left: 449px; width: 17px;">
        <input id="Sc" type="text" style="bottom: 745px; left: 503px; width: 17px;">
        <input id="Ap" type="text" style="bottom: 745px; left: 562px; width: 17px;">        
        <textarea id="NrPreferentiale" cols="20" style="left: 160px; width: 242px; bottom: 449px; height: 250px;"></textarea>
        <input id="Data" type="text" style="bottom: 272px; left: 197px; width: 152px;">
    </div>