<div style="background-image:url('{0}'); width: 850px; height: 1201px;" id="continut">	
        <input id="SemnaturaSiData" type="text" style="bottom: 1070px; left: 583px; width: 171px;">
        <input id="Subsemnatul" type="text" style="bottom: 890px; left: 163px; width: 181px;">
        <input id="SediulInLocalitatea" type="text" style="bottom: 890px; left: 589px; width: 148px;">
        <input id="Apartament" type="text" style="bottom: 865px; left: 657px; width: 81px;">
        <input id="Strada" type="text" style="bottom: 866px; left: 80px; width: 223px;">
        <input id="NrStrada" type="text" style="bottom: 867px; left: 347px; width: 29px;">
        <input id="Bloc" type="text" style="bottom: 866px; left: 429px; width: 49px;">
        <input id="Scara" type="text" style="bottom: 865px; left: 537px; width: 64px;">
        <input id="Judetul" type="text" style="bottom: 843px; left: 145px; width: 148px;">
        <input id="NumarulDeInmatriculare" type="text" style="bottom: 820px; left: 287px; width: 209px;">
        <input id="Marca" type="text" style="bottom: 797px; left: 175px; width: 321px;">
        <input id="NrDeIdentificare" type="text" style="bottom: 772px; left: 233px; width: 264px; right: 340px;">
        <input id="Culoare" type="text" style="bottom: 746px; left: 186px; width: 311px; right: 340px;">
        <input id="AnDeFabricatie" type="text" style="bottom: 718px; left: 233px; width: 263px; right: 341px;">
        <input id="ExportulVehicului" class="checkbox" type="checkbox" style="bottom: 666px; left: 160px; right: 670px;">
        <input id="DezmembrareaVehicului" class="checkbox" type="checkbox" style="bottom: 642px; left: 160px; right: 670px;">
        <input id="LaCerereaPropietarului" class="checkbox" type="checkbox" style="bottom: 618px; left: 160px; right: 670px;">
        <input id="InCazulFurtului" class="checkbox" type="checkbox" style="bottom: 596px; left: 160px; right: 670px;">
        <input id="InUrmaHotarariiJudecatoresti" class="checkbox" type="checkbox" style="bottom: 572px; left: 160px; right: 670px;">
        <input id="DocumentSaRezulteExportulVehiculului" class="checkbox" type="checkbox" style="bottom: 502px; left: 160px; right: 670px;">
        <input id="DocumentSaRezulteDezmembrareaVehicului" class="checkbox" type="checkbox" style="bottom: 480px; left: 160px; right: 670px;">
        <input id="DocumentSaAtesteDetinereaSpatiuluiNecesarDepozitariiVehicului" class="checkbox" type="checkbox" style="bottom: 456px; left: 160px; right: 670px;">
        <input id="DocumentEmisDePolitieSaAtesteFurtul" class="checkbox" type="checkbox" style="bottom: 433px; left: 160px; right: 670px;">
        <input id="HotarareaJudecatoreasca" class="checkbox" type="checkbox" style="bottom: 410px; left: 160px; right: 670px;">
        <input id="Data" type="text" style="bottom: 237px; left: 145px; width: 152px;" class="datepicker">
    </div>