<div style="background-image:url('{0}'); width: 850px; height: 1100px;" id="continut">       
        <input id="Subsemnatul" type="text" style="bottom: 569px; left: 237px; width: 371px;">
        <input id="DomiciliatInLocalitate" type="text" style="bottom: 545px; left: 188px; width: 104px;">
        <input id="Judetul" type="text" style="bottom: 545px; left: 353px; width: 96px;">
        <input id="Strada" type="text" style="bottom: 545px; left: 507px; width: 218px;">
        <input id="Nr" type="text" style="bottom: 521px; left: 124px; width: 26px;">
        <input id="Bl" type="text" style="bottom: 521px; left: 192px; width: 17px;">
        <input id="Sc" type="text" style="bottom: 521px; left: 254px; width: 17px;">
        <input id="Ap" type="text" style="bottom: 521px; left: 317px; width: 17px;">        
        <textarea id="NrPreferentiale" cols="20" style="left: 160px; width: 242px; bottom: 259px; height: 229px;"></textarea>
        <input id="Data" type="text" style="bottom: 208px; left: 101px; width: 152px;" class="datepicker">
    </div>